@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins-300 - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('/fonts/poppins-v15-latin-ext_latin-300.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-ext_latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/poppins-v15-latin-ext_latin-regular.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-ext_latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('/fonts/poppins-v15-latin-ext_latin-600.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-ext_latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/poppins-v15-latin-ext_latin-700.woff2') format('woff2'),
        url('/fonts/poppins-v15-latin-ext_latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/pptelegraf-regular-webfont.woff2') format('woff2'),
        url('/fonts/pptelegraf-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/pptelegraf-ultrabold-webfont.woff2') format('woff2'),
        url('/fonts/pptelegraf-ultrabold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/pptelegraf-ultralight-webfont.woff2') format('woff2'),
        url('/fonts/pptelegraf-ultralight-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

body,
html {
    font-family: 'Telegraf', sans-serif !important;
    @apply text-slate-950;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    @apply font-bold;
}

#app {
    @apply h-screen;
}

.p-tooltip-text {
    @apply text-center;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}
.gmap_iframe {
    height: 400px !important;
}
